.photograph-header .contact_button {
    font-size: 1.125em;
    font-weight: 700;
    color: white;
    // margin-top: 40px;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header .contact_button:hover {
    background-color: #DB8876;
    color: black;   
}

#contact_modal .contact_button {
    font-size: 1.125em;
    font-weight: 700;
    background-color: #901C1C;
    color: white;
    width: 170px;
}

#contact_modal .contact_button:hover {
    border: #901C1C solid 2px;
    background-color: #DB8876;
    color: black;
}
