.photographHeader .contactButton,
#contact_modal .contactButton {
  cursor: pointer;
  font-size: 1.125em;
  font-weight: 700;
  background-color: $primary;  
  color: white;  
  // padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  border-radius: 5px;
}

.contactButton:hover {
  background-color: $secondary;
  color: black;
}

.contactButton:focus {
  color: black;
  background-color: $secondary;
  border-radius: 5px;
  outline: black solid 2px;

}

#contact_modal .contactButton:hover {
  outline: black solid 2px;
}

#contact_modal .contactButton:focus {
  color: black;
  background-color: $secondary;
}


