#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.6);
}

#contact_modal .contentModal {
  border-radius: 5px;
  background-color: $secondary;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top : 1%;
  left: 25%;
  padding: 35px 35px 35px;
  margin: 0 auto;
}

#contact_modal #headerModal {
  margin: 0 0 20px 0;
  padding: 0;
}

#contact_modal #contactPhotographerH1 {
  display: inline-block;
  color: black;
  font-size: 3em;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  padding: 0;
  width: calc(100% - 60px);
}

#contact_modal #contactPhotographerH1:focus {
  padding: 0;
  outline: black 2px solid;
}

#contact_modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

#contact_modal .formData {
  margin: 0px 0px 5px;
  padding: 0px;
}

#contact_modal label {
  color: $darkGrey;
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
}

#contact_modal input,
#contact_modal textarea {
  color: black;
  font-size: 1.8em;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
}

#contact_modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

#contact_modal input,
#contact_modal textarea {
  padding: 0px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
} 

#contact_modal input {   
  height: 68px;
}

#contact_modal textarea {  
  height: 170px;
  resize: none;
}

#contact_modal button:focus,
#contact_modal input:focus,
#contact_modal textarea:focus {
  outline: black solid 2px;
  border-radius: 10px;
}

/* Mise en forme des messages d'erreurs */

#contact_modal .error input, 
#contact_modal .error textarea {
  border: 2px solid $redAlert;
}

#contact_modal .error > span {
  display: flex;
  font-size: 1.25em;
  visibility: visible;
  opacity: 1;
  color: black;
  padding-right: 0;
  align-self: flex-end;
}

// Icône croix fermeture de la modale
#contact_modal .crossCloseModal {
  cursor: pointer;
  position: absolute;
  top: 34px;
  right: 35px;
}

#contact_modal .crossCloseModal:hover .svgCross {
    fill: black;
}

#contact_modal .crossCloseModal:focus .svgCross {
  fill: black;
  outline: none;
}

#contact_modal .crossCloseModal:focus {
  outline: none;
}
