#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.6);
}

#contact_modal .content {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  position: absolute;
  top : 1%;
  left: 25%;
  padding: 10px 35px 35px;
  margin: 0 auto;
}

#contact_modal header {
  justify-content: space-between;
  width: 100%;
}

#contact_modal header img {
  cursor: pointer;
}

#contact_modal header h2 {
  // font-size: 4em;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

#contact_modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

#contact_modal .formData {
  margin: 0px 0px 5px;
  padding: 0px;
  // background-color: aqua;
}

#contact_modal form label {
  color: #312e2e;
  font-size: 2.25em;
  // font-size: 1.2em;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
}

#contact_modal 
form input,
form textarea {
  color: #312e2e;
  font-size: 1em;
  // font-size: 1.2em;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
}

#contact_modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

#contact_modal form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#contact_modal form textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  resize: none;
}

/* Mise en forme des messages d'erreurs */
.error input {
  color: #ff4e60;
  border: 2px solid #fe142f;
}

.error > span {
  display: flex;
  font-size: 10px;
  visibility: visible;
  opacity: 1;
  color: #fe142f;
  margin-top: -5px;
  margin-bottom: -8px;
}
