* {
  box-sizing: border-box;
}

// #contact_modal > *:focus {
//   box-shadow: 0 0 20px green;
//   // border: solid 3px green;       
// } 

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.6);
}

#contact_modal .content {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  position: absolute;
  top : 1%;
  left: 25%;
  padding: 10px 35px 35px;
  margin: 0 auto;
}

#contact_modal .headerModal {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#contact_modal .headerModal img {
  cursor: pointer;
  position: absolute;
  right: 35px;
}

#contact_modal .headerModal h1 {
  // font-size: 4em;
  color: black;
  font-size: 3em;
  font-weight: normal;
  text-align: center;
}

#contact_modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

#contact_modal .formData {
  margin: 0px 0px 5px;
  padding: 0px;
  // background-color: aqua;
}

#contact_modal form label {
  color: #312e2e;
  font-size: 2.25em;
  // font-size: 1.2em;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
}

#contact_modal 
form input,
form textarea {
  color: black;
  // outline: none;
  // border: #312e2e solid 5px;
  font-size: 1.8em;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
}

#contact_modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

#contact_modal form input, form textarea {
  padding: 0px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
} 

#contact_modal form input {   
  height: 68px;
}

#contact_modal form textarea {  
  height: 170px;
  resize: none;
}

#contact_modal button:focus, form input:focus, form textarea:focus {
  box-shadow: 0 0 10px #312E2E;
  // border: #312e2e solid 5px;
  // outline: #312e2e;
}

/* Mise en forme des messages d'erreurs */

#contact_modal .error input, .error textarea {
  // color: #ff4e60;
  border: 2px solid #fe142f;
}

#contact_modal .error > span {
  display: flex;
  font-size: 1.25em;
  visibility: visible;
  opacity: 1;
  color: black;
  padding-right: 0;
  align-self: flex-end;
  // margin-top: -5px;
  // margin-bottom: -8px;
}