// SECTION PHOTOGRAPHERS
.photographerSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 50px 0px;
}

.photographerSection article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographerSection .linkPhotographer {
  text-decoration: none;
}

.linkPhotographer,
.informationPhotograph {
  border-radius: 10px;
  padding: 4px;
}

.photographerSection .linkPhotographer:focus,
.photographerSection .informationPhotograph:focus {
  outline: $tertiary solid 2px;
}

.photographerSection .linkContainer {
  border: white solid 2px;
  padding: 5px 5px 0px;
  display: flex;
  flex-direction: column;
}

.photographerSection h2 {
  text-align: center;
  color: $tertiary;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 46.87px;
  margin: 20px 0px 0px;
}

.photographerSection .imgContainer {
  align-self: center;
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0px 5px 15px $boxShadow;
}

.photographerSection img {
  object-fit: cover;
  max-height: 200px;
  min-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photographerSection .informationPhotograph {
  display: flex;
  flex-direction: column;
}

.photographerSection .location,
.photographerSection .tagline,
.photographerSection .price {
  margin: auto;
}

.photographerSection .location {
  color: $primary;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.1em;
}

.photographerSection .tagline {
  font-size: 0.625em;
  font-weight: 400;
  line-height: 1.9em;
}

.photographerSection .price {
  color: $greyPrice;
  font-size: 0.563em;
  font-weight: 400;
  line-height: 1.3em;
}
