.photographerSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
}

.photographerSection article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: #901C1C solid 2px;
    // background-color: rgba(255, 208, 0, 0.082);
}

.photographerSection article a {
    text-decoration: none;
}

.photographerSection article a .linkContainer {
    border: #ffffff solid 2px;
    padding: 5px 5px 0px;
    display: flex;
    flex-direction: column;
}

.photographerSection article a .linkContainer:hover {
    border-radius: 10px;
    border: #D3573C solid 2px;
    padding: 5px 5px 0px;
}

.photographerSection article h2 {
    text-align: center;
    color: #D3573C;
    font-size: 2.25em;
    font-weight: 400;
    line-height: 46.87px;
    margin: 20px 0px 0px;
}

.photographerSection article .imgContainer {
    align-self: center;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 100px;
    // border: #0cc559 solid 1px;
    overflow: hidden;
    box-shadow: 0px 5px 15px #cccccc;
}

.photographerSection article img {
    object-fit: cover;
    max-height: 200px;
    min-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photographerSection article .location {
    color: #901C1C;
    font-size: 0.813em;
    font-weight: 400;
    line-height: 16.93px;
}

.photographerSection article .tagline {
    // color: #901C1C;
    font-size: 0.625em;
    font-weight: 400;
    line-height: 16.02px;
}

.photographerSection article .price {
    color: #757575;
    font-size: 0.563em;
    font-weight: 400;
    line-height: 11.72px;
}