#lightbox {
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    padding: 30px 120px;
  }

//   #lightbox .content {
//       display: flex;
//   }

  #lightbox .iconCross {
    cursor: pointer;
    background-color: #901C1C;
    position: fixed;
    top: 30px;
    right: 50px;
  }

  #lightbox .boxMediaContainer img, .boxMediaContainer video {
      box-sizing: border-box;
      max-width: 100%;
      min-width: 100%;
  }

  #lightbox .boxMediaTextContainer .boxTitleContainer h2 {
    color: #901C1C;
    font-size: 1.5em;
    margin-top: 0px;
    font-weight: 400;
  }

 