// LIGHTBOX

#lightboxModal {
  box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
  padding: 30px 30px;
  margin: 0;
}

#lightboxModal .lightboxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

// Icônes image précédente / image suivante
#lightboxModal .angleContainer {
  display: flex;
  height: 100%;
  margin: 0px;
}

#lightboxModal .prev,
#lightboxModal .next {
  cursor: pointer;
  color: $primary;
  font-size: 4em;
  margin: auto 20px;
}

#lightboxModal .prev:hover,
#lightboxModal .next:hover,
#lightboxModal .prev:focus,
#lightboxModal .next:focus {
  color: $tertiary;
  outline: none;
}

// Croix de fermture de la lightbox
#lightboxModal .crossCloseLightbox {
  position: fixed;
  top: 30px;
  right: 54px;
}

#lightboxModal .crossCloseLightbox:focus {
  outline: none;
}

#lightboxModal .svgCross:hover {
  position: absolute;
  cursor: pointer;
  fill: $tertiary;
  // top: 34px;
}

#lightboxModal .crossCloseLightbox:focus .svgCross {
  fill: $tertiary;
  outline: none;
}

// Média et légende
#lightboxModal .lightboxMediaContainer {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-start;
  height: 100%;
  max-width: 88%;
  // background-color: rgb(136, 192, 170);
  // overflow: hidden;
}

#lightboxModal .viewContainer {
  width: 100%;
  height: 95%;
}


#lightboxModal .media {
  margin: 0px auto;
  object-fit: contain;
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
  // border: transparent solid 2px;
  // padding: 2px; 
}

#lightboxModal .media:focus {
  outline: $tertiary solid 2px;
  // outline: none;   
}

#lightboxModal .legendContainer {
  height: 5%;
}

#lightboxModal .legend {
  margin: 12px 0px 0px 0px;
  color: $primary;
  font-size: 1.5em;
  font-weight: 400;
}

#lightboxModal .legend:focus {
  color: $tertiary;
  outline: none;
}
