//HEADER PHOTOGRAPHER : présentation du photographe
.photographHeader {
  background-color: $backgroundHeader;
  height: 300px;
  margin: 20px 100px 20px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photographHeader .nameContainer {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // padding-top: -50px;
}

.photographHeader .photograpHeaderH1 {
  // margin-top: -20px;
  // text-align: center;
  color: $tertiary;
  font-size: 4em;
  font-weight: 400;
  line-height: 83.33px;
  margin: 20px 0px 0px;
}

.photographHeader .paragraph {
  margin: 0;
}

.photographHeader h2 {
  margin: -2px 0px 2px;
  color: $primary;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 31.25px;
}

.photographHeader .tagline {
  color: #525252;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  // line-height: 23.44px;
}

.photographHeader .imgContainer {
  // align-self: center;
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 100px;
  // border: #0cc559 solid 1px;
  overflow: hidden;
  box-shadow: 0px 5px 15px #cccccc;
}

.photographHeader .imgContainer img {
  object-fit: cover;
  max-height: 200px;
  min-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photographHeader .imgContainer:focus {
  outline: $tertiary solid 3px;
  // padding: 2px 2px;
}

.photographHeader .photograpHeaderH1,
.photographHeader .paragraph {
  border-radius: 10px;
  padding: 2px 4px;
}

.photographHeader .photograpHeaderH1:focus,
.photographHeader .paragraph:focus {
  outline: $tertiary solid 2px;
}

// *********************************************
// .selectContainer {
//   margin: 0px 0px 50px 100px;
//   position: relative;
//   font-size: 1.125em;
//   font-weight: 700;
// }

// label {
//   margin-right: 16px;
// }

// .mySelect label {
//   // margin-right: 30px;
//   margin-top: 24px;
//   font-size: 1em;
//   font-weight: 700;
// }

// .mySelect .custom-selector {
//   // margin-right: 30px;
//   margin-top: 24px;
//   font-size: 1em;
//   font-weight: 700;
// }

// select {
//     display: none; /*hide original SELECT element:*/
//   }

// .selectContainer select {
//   cursor: pointer;
//   font-weight: 700;
//   color: white;
//   background-color: $primary;
//   width: 170px;
//   height: 69px;
//   padding: 0px 20px;
//   border-radius: 5px;
//   // border: none;
//   outline: none;
//   appearance: none; // cache la flèche originale
// }

// .selectContainer .custom-selector::after {
//   content: "";
//   // background-color: $secondary;
//   color: blue;
//   border-width: 5px;
//   border-style: solid;
//   border-color: transparent;
//   border-top-color: green;
//   display: inline-block;
//   position: absolute;
//   right: 20px;
//   top: 20px;
//   border-radius: 2px;
// }
// .select-selected {
//     background-color: $primary;
// }

// /*style the items (options), including the selected item:*/
// .select-items div, .select-selected {
//     color: #ffffff;
//     padding: 8px 16px;
//     border: 1px solid transparent;
//     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
//     cursor: pointer;
//     user-select: none;
//   }

//   /*style items (options):*/
//   .select-items {
//     position: absolute;
//     background-color: $primary;
//     top: 100%;
//     left: 0;
//     right: 0;
//     z-index: 99;
//   }

//   /*hide the items when the select box is closed:*/
//   .select-hide {
//     display: none;
//   }

//   .select-items div:hover, .same-as-selected {
//     background-color: rgba(0, 0, 0, 0.1);
//   }
