//HEADER PHOTOGRAPHER : présentation du photographe
.photographHeader {
  background-color: $backgroundHeader;
  height: 300px;
  margin: 20px 100px 10px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photographHeader .nameContainer {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.photographHeader .photograpHeaderH1 {
  color: $tertiary;
  font-size: 4em;
  font-weight: 400;
  line-height: 83.33px;
  margin: 20px 0px 0px;
}

.photographHeader .paragraph {
  margin: 0;
}

.photographHeader h2 {
  margin: -2px 0px 2px;
  color: $primary;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 31.25px;
}

.photographHeader .tagline {
  color: #525252;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
}

.photographHeader .imgContainer {
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0px 5px 15px #cccccc;
}

.photographHeader .imgContainer img {
  object-fit: cover;
  max-height: 200px;
  min-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photographHeader .imgContainer:focus {
  outline: $tertiary solid 3px;
}

.photographHeader .photograpHeaderH1,
.photographHeader .paragraph {
  border-radius: 10px;
  padding: 2px 4px;
}

.photographHeader .photograpHeaderH1:focus,
.photographHeader .paragraph:focus {
  outline: $tertiary solid 2px;
}
