// ****************** Couleurs **********************

// Principales
$primary: #901c1c;
// $primary: #1c5890;
$secondary: #db8876;
$tertiary: #d3573c;

// Gris
$darkGrey: #312e2e;
$greyPrice: #757575;
$backgroundHeader: #fafafa;
$boxShadow: #cccccc;
