// ****************** Couleurs **********************

// Principales
$primary: #901C1C;
$secondary: #DB8876;
$tertiary: #D3573C;

// Gris
$darkGrey: #312e2e;
$greyPrice: #757575;
$backgroundHeader: #fafafa;
$boxShadow: #cccccc;

// Couleur d'erreur dans la modale
$redAlert: #fe142f;